.label {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-padding: 6px;
    -fx-border-insets: 0px 7px 0px 7px;
    -fx-background-insets: 0px 7px 0px 7px;

    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;

    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
